@keyframes modal-animation {
    0% {
        left: 100vw;
    }
    100% {
        left: 0vw;
    }
}
@keyframes modal-nav__item {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 0.6;
    }
}

.animate {
  opacity: 0;
  transform: translateY(-30px);
  transition: all .3s ease-out;
  transition-delay: .1s;
}

.animated {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
  transition-delay: .1s;
}