@keyframes modal-animation {
    0% {
        left: 100vw;
    }
    100% {
        left: 0vw;
    }
}
@keyframes header-animation {
  0% {
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: .6;
    transform: translateY(0);
  }
}

.feature.animate.animated {
  opacity: 1;
  animation: slide-up .3s backwards;
}

.feature.animated:nth-child(1) {
  animation-delay: 0.3s;
}
.feature.animated:nth-child(2) {
  animation-delay: 0.4s;
}
.feature.animated:nth-child(3) {
  animation-delay: 0.5s;
}

.rate.animated {
  opacity: 1;
  animation: slide-up .3s backwards;
}
.rate.animated:nth-child(1) {
  animation-delay: .3s;
}
.rate.animated:nth-child(2) {
  animation-delay: .2s;
}
.rate.animated:nth-child(3) {
  animation-delay: .1s;
}
.rate.animated:nth-child(4) {
  animation-delay: 0s;
}

.modal-nav a {
  opacity: 0;
  transform: translateX(100px);
}

.modal-nav a.active {
  opacity: .6;
  transform: translateY(0);
  animation: slide-left .4s ease-out backwards;
  animation-delay: .4s;
}