  @media (max-width: 991.98px) {
    body {
      font-size: 12px;
    }
  
    .container-xl {
      padding: 10vh 10vh;
    }
  
    .container-greeting__info {
      padding-left: 20px;
    }
    .logo {
      color: #F7F7F7;
    }
    .logo:hover, .logo:focus {
      color: #F7F7F7;
    }
  
    .bg-greeting {
      width: 120vw;
      left: 0;
    }
  
    .container-greeting .row {
      flex-direction: column-reverse;
    }
  
    .container-greeting__img {
      margin-top: 50px;
      width: 100%;
    }
  
    .bg-about {
      display: none;
    }
  
    .text-about {
      width: 100%;
      font-size: 24px;
    }
  
    .join-in {
      font-size: 18px;
    }
  
    .feature {
      padding: 25px 0;
    }
  
    .title-icon {
      font-size: 24px;
    }
  
    .text-icon {
      font-size: 18px;
    }
  
    .feature__icon {
      margin-right: 15px;
      height: 64px;
    }
  
    .bg-hiw {
      display: none;
    }
  
    .container-hiw {
      height: 65vh;
    }
  
    .bg-rates {
      width: 120vw;
    }
  
    .rates-table {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  
    .title-rates {
      color: #F7F7F7;
    }
  
    .rate {
      height: 600px;
    }
    .rate__info p {
      font-size: 22px;
    }
    .rate__title {
      font-size: 28px;
    }
  
    .footer {
      font-size: 24px;
      padding: 1vh 0;
      background-color: #ffffff;
      color: #121212;
    }
    .footer a {
      color: #121212;
    }
    .footer a:hover, .footer a:focus {
      color: #121212;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .container-xl {
      padding: 10vh 5vh;
    }
  
    .title-icon {
      font-size: 20px;
    }
  
    .text-icon {
      font-size: 14px;
    }
  
    .feature__icon {
      margin-right: 0px;
      height: 56px;
    }
  
    .container-greeting__img {
      margin-top: 50px;
      width: 80%;
    }
  
    .rates-table {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      column-gap: 60px;
      justify-items: center;
    }
  }
  @media (min-width: 992px) {
    body {
      font-size: 12px;
    }
  
    .rate__info {
      font-size: 12px;
    }
  }
  @media (min-width: 1200px) {
    body {
      font-size: 14px;
    }
  
    .rate__info {
      font-size: 14px;
    }
  }
  @media (min-width: 1400px) {
    body {
      font-size: 16px;
    }
  
    .greeting {
      min-height: 10vh;
    }
  
    .text-about {
      width: 80%;
    }
  
    .title-icon {
      font-size: 20px;
    }
  
    .text-icon {
      font-size: 14px;
    }
  
    .rate__info p {
      font-size: 18px;
    }
    .rate__title {
      font-size: 24px;
    }
  }
  @media (min-width: 1800px) {
    body {
      font-size: 20px;
    }
  
    .text-about {
      width: 80%;
    }
  
    .title-icon {
      font-size: 20px;
    }
  
    .text-icon {
      font-size: 14px;
    }
  
    .rate__info p {
      font-size: 20px;
    }
    .rate__title {
      font-size: 24px;
    }
  }
  @media (min-width: 2121px) {
    body {
      font-size: 20px;
    }
  
    .text-about {
      width: 100%;
      font-size: 28px;
    }
  
    .title-icon {
      font-size: 24px;
    }
  
    .text-icon {
      font-size: 16px;
    }
  
    .rate__info p {
      font-size: 18px;
    }
    .rate__title {
      font-size: 24px;
    }
  }
  @media (max-width: 576px) {
    body {
      font-size: 10px;
    }
  
    .container-xl {
      padding: 10vh 5vh;
    }
  
    .slogan {
      font-size: 24px;
    }
  
    .contacts {
      font-size: 16px;
    }
  
    .img-icon {
      height: 16px;
    }
  
    .text-about {
      font-size: 18px;
    }
  
    .sign {
      display: none;
    }
  
    .sign-modal {
      display: block;
    }
  
    .menu span {
      font-size: 48px;
      top: calc(7.5vh - 24px);
      right: 10vw;
    }
  }
  @media (max-width: 400px) {
    .sign-modal {
      font-size: 30px;
      margin-top: 50px;
    }
  
    .nav__item {
      font-size: 40px;
    }
  
    .container-greeting__info {
      padding-left: 20px;
    }
  
    .container-xl.header {
      padding: 0 3vh;
    }
  
    .container-xl {
      padding: 10vh 1vh;
    }
  }
  @media (min-width: 570px) {
    .menu span {
      top: calc(7.5vh - 24px);
      left: calc(50vw - 36px);
      font-size: 48px;
      height: 48px;
    }
  }
  @media (max-width: 1200px) {
    .greeting {
      min-height: 10vh;
    }
  }
