@font-face {
    font-family: Rubik-Black;
    src: url("/font/Rubik/Rubik-Black.ttf");
}

@keyframes loading-animation{
    0% {
        top: 110vh;
    }
    100% {
        top: 0;
    }
}

.loading {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #121212;
    color: #fff;
    font-size: 50px;
    font-family: Rubik-Black;
    user-select: none;
}

.loading .container {
    height: 100%;
}

.loading .row {
    height: 100%;
}

.loading.active {
    display: block;
    animation: loading-animation .7s backwards 0s;
}

